.report__grid {
  width: 480px;
  display: grid;
  grid-template-columns: repeat(12, auto) ;
  grid-template-rows: auto auto;
  padding: 30px
  
}
.report__grid .report__col {
  border:  solid .6px hsla(0, 0%, 50%, .2);
  padding: 10px;
  border-radius: 2px;
}
.report__row > .report__col:first-child {
  background-color: rgba(0, 100, 180, .06)
}
.report__row {

  width: 160px
}